.grid{
    @media (min-width: 1365px) {
        margin-left: -30px;
        margin-right: -30px;
    }
    .grid-item,
    .grid-sizer{
        flex-basis: 100%;
        max-width: 100%;
        @include media-breakpoint-up(md){
            flex-basis: 50%;
            max-width: 50%;
        }
        @include media-breakpoint-up(lg){
            flex-basis: 33.33333%;
            max-width: 33.33333%;
        }
        @media (min-width: 1365px){
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
.blog-post-card{
    background-color: white;
    transition: box-shadow 0.3s ease-in-out 0s;
    width: 100%;
    @media (min-width: 420px){
        width: 380px;
    }
    @include media-breakpoint-up(md){
        width: 100%;
    }
    @media (min-width: 1365px){
        margin-bottom: 60px !important;
    }
    .blog-wrighter{
        background-color: $color-silver;
        border: 1px solid white;
        height: rem(90px);
        left: calc(50% - 45px);
        position: absolute;
        top: -80px;
        transition: box-shadow 0.3s ease-in-out 0s;
        width: rem(90px);
    }
    h3{
        color: black;
        font-size: rem(22px);
        @include font-Montserrat-Regular;
        line-height: 1.2;
        margin-bottom: rem(20px);
    }
    .date{
        border-bottom: 1px solid $color-nobel;
        color: black;
        display: inline-block;
        font-size: rem(17px);
        @include font-Montserrat-Regular;
        line-height: 1.2;
        margin-bottom: rem(24px);
        padding-bottom: rem(10px);
        padding-left: rem(30px);
        padding-right: rem(30px);
    }
    h2{
        color: black;
        font-size: rem(28px);
        @include font-Montserrat-Regular;
        line-height: rem(36px);
        margin-bottom: rem(20px);
        a{
            color: black;
            @include transition-color;
            &:hover,
            &:focus{
                color: $color-medium-turquoise;
                text-decoration: none;
            }
        }
    }
    p{
        color: $color-charcoal-2;
        font-size: rem(20px);
        @include font-Roboto-Regular;
        line-height: 1.2;
        margin-bottom: rem(40px);
    }
    .tag-group{
        margin-left: -6px;
        margin-right: -6px;
        div{
            margin-bottom: rem(10px);
        }
        a{
            border: 1px solid black;
            border-radius: rem(10px);
            color: black;
            font-size: rem(16px);
            @include font-Roboto-Condensed-Regular;
            height: rem(40px);
            padding: 0 rem(12px);
            @include transition-color;
            &:hover,
            &:focus{
                color: $color-medium-turquoise;
                text-decoration: none;
            }
        }
    }
    &:hover{
        box-shadow: 0 2px 14px rgba(0, 0, 0, 0.25);
        .blog-wrighter{
            box-shadow: 0 2.48453px 4.96906px rgba(0, 0, 0, 0.25);
        }
    }
}