$color-charcoal: #424242;
$color-charcoal-2: #464646;
$color-medium-turquoise: #4AD4CA;
$color-matterhorn: #4f4f4f;
$color-nobel: #9E9E9E;
$color-blue-chill: #33968F;
$color-whitesmoke: #f5f5f5;
$color-blue-stone: #17716A;
$color-silver: #c4c4c4;
$color-mamba: #827B84;
$color-whisper: #eeeeee;
$color-ruby: #ED1A5E;
$color-nero: #212121;
$color-gainsboro: #e0e0e0;